$card-border-radius:            0rem;
$btn-border-radius:             0rem;
$border-radius:                 0rem;
$input-btn-padding-y:           0.4rem;
$input-btn-padding-x:           1rem;
$font-family-base:              'v', sans-serif;

@import "./node_modules/bootstrap/scss/bootstrap";

@media (max-width: map-get($grid-breakpoints, "md")) {
  .img-header-right {
    display: none;
  }
  .ads {
    display: none;
  }
}

@keyframes right {
  0% {transform: translateX(300px)}
  100% {transform: translateX(0px)}
}

.anim-right {
  animation-name: right;
  animation-duration: 0.5s;
}

a {
  text-decoration: underline;
  color: #0d47a1;
}

.nav-link {
  text-decoration: none;
}

.card h5 a {
  font-size: 130%;
}

.img-header-right {
  font-size: $h1-font-size;
  padding-top: 2em;
}

.img-header-right img {
  width: 100%;
}

.h1-header {
  padding-top: 2em;
}

.form-search {
  width: 100%;
  margin: 50px auto;
}

.under-search {
  font-size: 70%;
}

.card {
  margin-bottom: 25px;
}

.card-header {
  color: white;
  font-size: 125%;
  padding: 0.25rem 1.25rem;
}

.card-header-primary {
  background-color: #2196F3;
}
.card-header-success {
  background-color: #4CAF50;
}
.card-header-danger {
  background-color: #FFC107;
}