.card {
    margin-bottom: 25px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), 0 1px 2px rgba(0, 0, 0, 0.32);
    border: 0;
    .total-h1 {
        font: {
            weight: bold;
            size: 150%;
        }
    }
    .total-h2 {
        font: {
            weight: bold;
            size: 125%;
        }
    }
    .total-h3 {
        font: {
            weight: bold;
            size: 100%;
        }
    }
    .total-p {
        font: {
            size: 100%;
        }
    }

    .mini-notes {
        line-height: 1;
    }

    .scroll-block {
        background-color: #f5f5f5;
        max-height: 250px;
        overflow: auto;
    }
    .scroll-block-img {
        @extend .scroll-block;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .resource-block {
            padding: 15px 7px 15px 15px;

            .r-block-img {
                width: 50px;
                height: 50px;
                margin-top: 10px;
                display: block;
            }
            .r-block-img-m-css {
                @extend .r-block-img;
                background-image: url("../img/css_block_medium.png");
            }
            .r-block-img-s-css {
                @extend .r-block-img;
                background-image: url("../img/css_block_small.png");
            }
            .r-block-img-s-js {
                @extend .r-block-img;
                background-image: url("../img/js_block_small.png");
            }
            .r-block-img-m-js {
                @extend .r-block-img;
                background-image: url("../img/js_block_medium.png");
            }
            .r-block-img-lg-js {
                @extend .r-block-img;
                background-image: url("../img/js_block_large.png");
            }
        }

    }

    .scroll-block-picture {
        @extend .scroll-block;
        background-color: white;
        .resource-block {
            padding: 15px 7px 15px 15px;
            small {
                font-size: 80%;
            }
            img {
                height: 30px;
                width: auto;
            }
        }
    }

    .scroll-block-text {
        @extend .scroll-block;
        p {
            color: #444;
            font-family: monospace;
            padding: .5em;
            font-size: 110%;
            word-wrap: break-word;
        }
    }

    .misc-block-1 {
        a {
            color: #2196F3;
            position: relative;
        }
        a:after {
            content: "";
            background-image: url("../img/arrow-right.png");
            position: absolute;
            height: 20px;
            width: 20px;
            top: 2px;
            right: -25px;
        }
    }
}
  
.card-primary {
    .card-header {
        background-color: $card-header-color-primary;
        border: 0;
    }
}

.card-success {
    .card-header {
        background-color: $card-header-color-success;
        border: 0;
    }
}

.card-warning {
    .card-header {
        background-color: $card-header-color-warning;
        border: 0;
    }
}

.card-header {
    color: white;
    font-size: 125%;
    padding: 0.25rem 1.25rem;
}

.summary {
    .list-header {
        font: {
            weight: bold;
            size: smaller;
        }
        color: #404040;
        margin: 1em 0em;
    }
    .list-body {
        line-height: 1;
        list-style-type: none;
        padding-left: 1.3em;
        .success {
            list-style-image: url("../img/check_ok.png");
        }
        .warning {
            list-style-image: url("../img/check_brick.png");
        }
    }
}

.resource {
    .list-header {
        font: {
            weight: bold;
            size: smaller;
        }
        color: #404040;
        margin: 1em 0em;
    }
    .list-body {
        line-height: 1.5;
        list-style-type: none;
        padding-left: 1.3em;
        .success {
            list-style-image: url("../img/check_ok.png");
            color: #4CAF50;
        }
        .warning {
            list-style-image: url("../img/check_brick.png");
            color: #FF6F00;
        }
    }
}

#resources_imgs img {
    width: 100%;
}