$card-border-radius:            0px;
$btn-border-radius:             0px;
$border-radius:                 0px;
$input-btn-padding-y:           0.4rem;
$input-btn-padding-x:           1rem;

//Fonts
$font-size-base:                1.1rem;
$font-family-base:              'v', sans-serif;

$light:                         #fff;
$warning:                       #FF6F00;

// Card
$card-header-color-primary: #2196F3;
$card-header-color-success: #4CAF50;
$card-header-color-warning: #FFC107;