$card-border-radius:            0px;
$btn-border-radius:             0px;
$border-radius:                 0px;
$input-btn-padding-y:           0.4rem;
$input-btn-padding-x:           1rem;
$blue:                          #2196F3;

//Fonts
$font-size-base:                1.1rem;
$font-family-base:              'v', sans-serif;

// Card
$card-header-color-primary: $blue;
$card-header-color-success: #4CAF50;
$card-header-color-warning: #FFC107;