@import "variables";
@import "./node_modules/bootstrap/scss/bootstrap";
@import "card";
@import "nav";
@import "form";
@import "footer";

@media (max-width: map-get($grid-breakpoints, "md")) {
  .img-header-right {
    display: none;
  }
  .ads {
    display: none;
  }
}

@keyframes right {
  0% {transform: translateX(300px)}
  100% {transform: translateX(0px)}
}

.anim-right {
  animation-name: right;
  animation-duration: 0.5s;
}

a {
  text-decoration: underline;
  color: #0d47a1;
}

.h1-header {
  margin-top: 2em;
}

.navbar-brand {
  margin-left: 2em;
}